<button (click)="backgroundToggle = !backgroundToggle">Toggle</button>

<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  borderRadius: '5px',-->
<!--  border: '1px solid #ccc',-->
<!--  background: backgroundToggle ? 'red' : 'blue'-->
<!--}">-->

<!--</div>-->

<!--<p [ngClass]="{-->
<!--  red: backgroundToggle,-->
<!--  blue: !backgroundToggle-->
<!--}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quo.</p>-->

<p
  [class.blue]="!backgroundToggle"
  [class.red]="backgroundToggle"
>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, ratione.</p>
<br>
<button (click)="toggle = !toggle">Toggle</button>

<p *ngIf="toggle; else blueP" class="red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ratione.</p>

<ng-template #blueP>
  <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, in?</p>
</ng-template>
<br>
<button (click)="toggle2 = !toggle2">Toggle</button>
<button (click)="toggle2 = 111">Set 111</button>

<div [ngSwitch]="toggle2">
  <p *ngSwitchCase="true" class="green">Lorem ipsum.</p>
  <p *ngSwitchCase="false" class="yellow">Lorem ipsum. Lorem ipsum.</p>
  <p *ngSwitchDefault>Lorem ipsum.</p>
</div>
<hr><br>
<!--<ul>--> <!-- Index starts woth 0-->
<!--  <li *ngFor="let n of arr; let idx = index">-->
<!--    {{idx + 1}}  <strong>{{n}}</strong>-->
<!--  </li>-->
<!--</ul>-->

<ul style="list-style: none">
  <li *ngFor="let post of objs">
    <p>{{post.title}} <b>{{post.author}}</b></p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>
